@using BuildingManagementSystem.Common
@using BuildingManagementSystem.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравейте <b class="text-primary">@this.User.Identity.Name!</b></a>
        </li>
        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
            </li>
            @*// Функционалноста по-долу да се вижда само от администратора и бутона да е видим само при логнат амин
            <li class="nav-item">
                <div class="dropdown flex-grow-1">
                    <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Административен модул
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-controller="Modules" asp-action="Index">Добавяне на приход</a>
                        <a class="dropdown-item" asp-controller="Public" asp-action="General">Плащане на разход</a>
                        <a class="dropdown-item" asp-controller="Public" asp-action="General">Корекция на месечна такса</a>
                    </div>
                </div>
            </li>*@
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                <button type="submit" class="nav-link btn btn-link text-dark">Изход</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Влизане</a>
        </li>
    }
</ul>
