@{
    this.ViewData["Title"] = "Благодарим Ви, че се свързахте с нас!";
}

<div class="col-sm-12 col-md-6 offset-md-2 col-ld-6 offset-ld-2">
    <h2>@this.ViewData["Title"]</h2>
    <hr />
    <h5>Очаквайте отговор на посочения от Вас е-мейл адрес.</h5>
</div>
