@using BuildingManagementSystem.Common;
@{
    this.ViewData["Title"] = "Въпроси и отговори относно управлението на Етажната собственост и прилежащото законодателство!";
}

<div class="row">
    <div class="col-sm-12 offset-md-1 col-md-10 text-md-center col-ld-8 text-lg-center">
        <h2>@this.ViewData["Title"]</h2>
        <h5>В случай, че не намирате отговор на Вашият въпрос може да го зададете през формата за контакти или във вътрешната чат система.</h5>
        <hr />
    </div>

    <div class="col-sm-12 offset-md-1 col-md-10 text-md-center col-ld-8 text-lg-left">
        <h4 class="text-uppercase text-center text-primary">Въпроси и отговори</h4>

        <h5 class="text-danger">Как да се оплача от нещо - покрива тече, мръсно е, асансьора спря...?</h5>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">Виж повече</button>
        <div id="demo1" class="collapse">
            Можете да се оплачете директно на домоуправителя, в чата или по телефона.
            Ако искате ремонт или друга дейност, обикновено всичко започва с решение на Общото Събрание.
            Не можем сами да направим ремонт без такова – това е направено с цел да няма злоупотреби.
            Трябва да има съгласие на мнозинството, за да се извършват повечето дейности в сградата.
        </div>
        <hr />

        <h5 class="text-danger">Как да следя какво се случва в кооперацията?</h5>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">Виж повече</button>
        <div id="demo2" class="collapse">
            Ползвайте <b class="text-primary">@GlobalConstants.SystemName</b>. Там ще видите всичко, което Ви интересува – отчети, справки, съобщения, история на събитията.
            Също така можете да се абонирате за автоматично уведомяване по имейл и така лесно ще получавате най-важното за Вас.
            Ако имате въпрос – пишете ни за разяснение - по чата, на имейл на ььь@bms.com или на тел. +359111222333.
        </div>
        <hr />

        <h5 class="text-danger">Как да свикам Общо събрание?</h5>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3">Виж повече</button>
        <div id="demo3" class="collapse">
            Свържете се с нас и ние ще го свикаме.
            По закон само домоуправителят има право да свиква ОС и ще съдействаме изцяло с този процес.
            Не го свиквайте сами, защото ще е нелегитимно и после ще трябва отново да го свикаме заедно още веднъж, за да протоколираме решенията от него.
        </div>

        <hr />
        <h5 class="text-danger">Как да платя месечната такса?</h5>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo4">Виж повече</button>
        <div id="demo4" class="collapse">
            Както е удобно за Вас.
            Можете да платите на Домоуправителя или на касиера (ако има избран). Този начин за плащане е подходящ, ако сте често у дома, защото в противен случай можете да се разминете.
            <br />
            Плащането по банка също е възможно – ето и нужните банкови реквизити.
            <br />
            Получател: Етажна собственост - ул. Княз Борис I, №196
            <br />
            IBAN: BG11FINV1111222233334 BIC: FINVBGSF
            <br />
            Основание: такса към ЕтС за м. Януари, номер на апартамент
        </div>
        <hr />
    </div>
</div>