@using BuildingManagementSystem.Common
@{
    this.ViewData["Title"] = "Начало";
}

<div class="row">
    <div class="col-sm-12 offset-md-1 col-md-10 text-md-center col-ld-8 text-lg-center">
        <h2>Добре дошли в <b class="text-primary">@GlobalConstants.SystemName!</b></h2>
        <h4>Платформа за управление и поддръжка на Етажната собственост</h4>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-sm-12 offset-md-1 col-md-10 text-md-center col-ld-8 text-lg-center">
        <h4 class="mb-3">
            Предимства на платформата <b class="text-primary">@GlobalConstants.SystemName</b>
        </h4>
        <div>
            <p class="text-md-left mb-4">
                Управлението на Етажната собственост в България е дейност, която се развива и подобрява.
                Обичано дейността се осъществява посредством лепене на листове със задължения на входната врата, касиери, които пишат в тетрадки, 
                финансови отчети, които се правят ръчно, има наличие на грешки в резултат на човешкия фактор, налице е и относителната неяснота какво се случва със събраните средства от входните такси!
            </p>
            <div class="card-body card border-success mb-4">
                <h5 class="card-title text-uppercase text-primary text-center">
                    С въвеждане на "BMS" онлайн платформата това може да се промени и да се създаде доверие в процеса по управление и поддръжка на Етажната собственост.
                </h5>
                <ul class="text-md-left">
                    <li>
                        Всички плащания стават прозрачни и достъпни в реално време
                    </li>
                    <li>
                        Отчетите се изготовят автоматично и главните са достъпни от самите съкооператори
                    </li>
                    <li>
                        Плащанията се отразяват в платформата и всеки съкооператор може да ги следи текущо, както и своите задължения
                    </li>
                    <li>
                        Човешките грешки по изчисленията отпадат
                    </li>
                    <li>
                        Липсата на доверие вече е минало - хората виждат работата на домоуправителя реално и всяка стотинка е отбелязана
                    </li>
                    <li>
                        Живущите могат да обсъдят проблемите на входа в защитена зона, достъпна само от съкооператорите
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>