@using BuildingManagementSystem.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome into @GlobalConstants.SystemName!</h1>*@
    <h1 class="display-4">Добре дошли в @GlobalConstants.SystemName!</h1>
    @*<h2>A web application for building management and maintenance, in assistance of the House Manager and the properties owners!</h2>*@
    <h2>Информационна система за управление и поддръжка на Етажната собственост!</h2>
    <hr />
</div>
