@using BuildingManagementSystem.Common;
@{
    this.ViewData["Title"] = "Обща информация за функционалността на Приложението";
}

<div class="row">
    <div class="col-sm-12 offset-md-1 col-md-10 text-md-center offset-ld-2 col-ld-8 text-ld-center">
        <h2><b class="text-primary">@GlobalConstants.SystemName</b> предоставя следната функционалст на своите потребители</h2>
        <hr />
    </div>
    <div class="col-sm-12 offset-md-1 col-md-10 text-md-center offset-ld-2 col-ld-8 text-ld-center">
        <h5>Модулите са достъпни само за регистрирани потребители!</h5>
    </div>
</div>
<br />

<div class="row">
    <div class="card-deck">
        <div class="card border-success">
            <div class="card-body">
                <h5 class="card-title text-uppercase text-primary text-center">Административен модул</h5>
                <p class="card-text">Модулът е предназначен за Администратора/Домоуправителя, който ще работи с Приложението и основните негови възможности.</p>
                <ul class="text-md-left">
                    <li>
                        Ще се задава режима на достъпа на всеки регистриран потребител (собственик, наемател и контрольор ако има избран такъв).
                    </li>
                    <li>
                        Ще се извъвршва въвеждане на събраните месечни такси от собствениците.
                    </li>
                    <li>
                        Ще се нанасят извършените месечни плащания от Домоуправителя свързани с текущите сметки и поддръжка на кооперацията.
                    </li>
                    <li>
                        Ще се извършва корекция на размера на месечните таксите, съобразно подадената Декларация за промяна на обстоятелства.
                    </li>
                    <li>
                        Ще се публикуват всички документи свързани с дейността на Домоуправителя (проведени Общи събрания, заведени съдебни искове, подадени Декларации за промяна на обстоятелство и т.н.).
                    </li>
                    <li>
                        Ще се въвеждат наемателите на жилища и магазини по подадена заявка от собствениците.
                    </li>
                    <li>
                        Ще се актуализира информацията по смяна на статута на имотите, ако има извършена такава.
                    </li>
                    <li>
                        Ще се актуализира информацията по смяна на собствеността върху имотите, ако има извършена такава.
                    </li>
                </ul>
                <p class="card-text"><small class="text-muted">BMS</small></p>
            </div>
        </div>
        <div class="card border-success">
            <div class="card-body">
                <h5 class="card-title text-uppercase text-primary text-center">Публичен модул</h5>
                <p class="card-text">Публичният модул осигурява възможност на регистрираните в Приложението собственици и наематели чрез свободен достъп през интернет да:</p>
                <ul class="text-md-left">
                    <li>
                        Правят справка за своите плащания и задължения.
                    </li>
                    <li>
                        Имат достъп до бланките свързани със свикване на Общо събрание, Декларация за промяна на обстоятелство, Протокол за нарушение и т.н.
                    </li>
                    <li>
                        Имат достъп до архива с документите от проведените общи събрания, съставените протоколи за нарушения, сигнали до общинската администрация и т.н.
                    </li>
                    <li>
                        Имат достъп до отчетите и документите след извършване на основни и капиталови ремонти приети на Общо събрание.
                    </li>
                    <li>
                        Имат достъп до текущите отчети за извършените от Домоуправителя ежемесечни разходи по поддръжка на етажната собственост.
                    </li>
                    <li>
                        Имат достъп до интерактивната чат система на кооперацията.
                    </li>
                </ul>
                <p class="card-text"><small class="text-muted">BMS</small></p>
            </div>
        </div>
    </div>
    <br />
</div>
