@using BuildingManagementSystem.Web.ViewModels.Home
@model PrivacyViewModel
@{
    this.ViewData["Title"] = "Privacy Policy";
}

@*<h2>@this.ViewData["Title"]</h2>*@
<h2>@Model.Title</h2>
<hr />
<p>@Model.PolicyDescription</p>

<p>Use this page to detail your site's <strong>privacy</strong> policy.</p>
