@{

}

<div class="container">
    <div class="col-sm-12 offset-md-1 col-md-10 text-md-center offset-ld-2 col-ld-8 text-ld-center">
        <h2>Общи условия за ползване на "BMS" платформата и Политика за поверителност и опазване на личните данни</h2>
        <hr />
    </div>
</div>

<div class="container">
    <div class="col-sm-12 offset-md-1 col-md-10 text-md-left offset-ld-2 col-ld-8 text-ld-left">
        <p>
            Настоящият документ съдържа общите условия за ползване на предоставяните от <b>Платформата "BMS – Bulding Management System"</b> информационни ресурси и услуги на потребителите на уебсайтa bms.com/bg/eu … и урежда отношенията между Адмистратора/Създателя на Приложението, със седалище и адрес на управление: гр. София, ул. “---------” №  1 (наричано по-долу за краткост <b>СЪЗДАТЕЛ</b>) и всеки един от регистрираните и нерегистрираните потребители на Услугите, достъпни чрез уебсайта bms.com/bg/eu …  (наричани по-долу за краткост <b>КЛИЕНТ</b> или <b>ПОТРЕБИТЕЛ</b>).
        </p>
        <br />

        <div>
            <h5>ДЕФИНИЦИИ</h5>
            <p>
                <b>„Услуга“/“ПРИЛОЖЕНИЕ“</b> – онлайн, уеб-базирано приложение, предоставено от СЪЗДАТЕЛЯ на КЛИЕНТА, посредством адрес bms.com/bg/eu …, достъп до което се осъществява посредством интернет връзка.
            </p>
            <p>
                <b>„ВЪНШНИ ПРИЛОЖЕНИЯ“</b> – софтуерни продукти, предоставени от друга страна, частично или изяло свързани с предоставеното приложение от СЪЗДАТЕЛЯ
            </p>
            <p>
                <b>„ПОТРЕБИТЕЛИ“</b> – индивидуални лица, които са оторизирани за достъп до приложението от КЛИЕНТА, посредством предоставяне на пароли за достъп от последния. Това включва служители, клиенти, бизнес консултанти, агенти, фирми, сдружения, асоциации, партии или трети страни, с които КЛИЕНТА има бизнес взаимоотношения.
            </p>
            <p>
                <b>„ПЕРСОНАЛНИ ДАННИ“ / „ДАННИ“</b> – всяка информация, въведена или предоставена на приложението от КЛИЕНТА в електронен вид.
            </p>
            <p>
                <b>„АКАУНТ“</b> – профил на ПОТРЕБИТЕЛЯ, в предоставеното ПРИЛОЖЕНИЕ, до който той има достъп посредством име и парола, съдържащо неговите данни и до което той може да дава достъп на други ПОТРЕБИТЕЛИ.
            </p>
            <p>
                <b>„РАБОТНО ВРЕМЕ“</b> – дните от Понеделник до Петък включително, в часовете 09:00 – 18:00 локално време, с изключение на официалните празници, приети в Р България.
            </p>
            <p>
                <b>„БРАУЗЕР“</b> – външно приложение, чрез което се достъпват уеб-адреси, включително описаната в този договор УСЛУГА. Това включва приложенията: Internet Explorer, Google Chrome, Mozilla Firefox, Apple Safari, Opera.
            </p>
            <p>
                <b>„ЪПДЕЙТ“/“ОБНОВЛЕНИЕ“</b> – всички корекции, пачове, модификации или дребни промени отнасящи се за приложението.
            </p>
            <p>
                <b>„ОБЕКТ“</b> – всяка единица недвижимо имущество, управлявана и въведена като такава в приложението, включително, но не само: жилища, апартаменти, търговски помещения, паркоместа, сервизни помещения, студиа и др.
            </p>
        </div>
        <br />

        <div>
            <h5>КОНФИДЕНЦИАЛНОСТ</h5>
            <p>
                Чл. 1. Дефиниция за конфиденциална информация. Конфиденциална информация се счита всяка информация предоставена от едната страна(„Разкриваща страна“) на другата страна(„Получаваща страна“), в писмен, устен или електронен път, която се счита за поверителна между страните.  Това включва, но без да се ограничава до, всякакви и всички проучвания, анализи, предложения, проекти, писма за намерение, кореспонденция, записки от срещи, презентации, бизнес планове, цени, тарифи, разходи, данни, чертежи, електронни данни, бланки, логическа структура и всяка друга информация от технически, бизнес или какъвто и да било друг характер, изцяло или отчасти, в каквато и да било форма, както и информация, за която може да се предполага, че е конфиденциална, независимо дали Разкриващата страна изрично я е определила като такава. В това определение се изключва информация, която: (1) е станала достояние на обществеността, без отношение към Получаващата страна; (2) е била известна на Получаващата страна преди разкриването й; (3) е получена от трета страна, без това да възпрепятства Разкриващата страна; (4) е разработена самостоятелно от Получаващата страна; (5) е предоставена от Разкриващата страна с цел предоставянето й на трета страна от Получаващата страна.
            </p>
            <p>
                Чл. 2. Страна по договора няма право, без предварителното и изрично писмено разрешение от другата страна, да разпространява на трети лица или да прави публично достояние всякакъв вид поверителна информация, станала им известна във връзка или по повод изпълнението на този договор или предоставената услуга, за която той се отнася.
            </p>
            <p>
                Чл. 3. Страните по договора се задължават да пазят в тайна конфиденциалната информация, станала им известна по време и след изпълнението на този договор. Също така се задължават да предприемат необходимите административни, технически, юридически и други мерки за запазването в тайна на тази информация.
            </p>
            <p>
                Чл. 4. Ако Получаващата страна е задължена от закона да разкрие поверителна информация, касаеща този договор или дейностите и услугите по него, по официално искане на властите на Р. България, Разкриващата страна се задължава да покрие разходите, свързани с извличането, структурирането и предоставянето на тази информация.
            </p>
            <p>
                Чл. 5. Получаващата страна ще обезщети Разкриващата страна за щети, които последната е понесла в резултат на неизпълнение по чл. 16 от този договор.
            </p>
            <p>
                Чл. 6. Страните по договора признават и приемат, че всяко нарушение или заплаха от нарушение по чл. 16 от този договор, може да причини щети (включително и непреки щети и загуба на печалба) на другата страна, които може да са неоценими и невъзстановими и че ще бъде подходящо, при тези обстоятелства за ощетената страна да поиска от съда налагането на обезпечителна мярка.
            </p>
            <p>
                Чл. 7. Страните по договора признават и приемат, че при получаване на писмено искане от Разкриваща страна, Получаващата страна ще унищожи или върне всички Данни и ще удостовери в писмена форма в седемдневен срок от прекратяването, че цялата информация в нейно притежание е била унищожена.
            </p>
        </div>
        <br />

        <div>
            <h5>ОГРАНИЧЕНА ОТГОВОРНОСТ</h5>
            <p>
                Чл. 8. СЪЗДАТЕЛЯ не поема и не може да гарантира, че приложението ще работи без грешка. КЛИЕНТА трябва преди всичко да е наясно, че по време на използването на същото могат да възникнат компютърни грешки.
            </p>
            <p>
                Чл. 9. СЪЗДАТЕЛЯ не поема отговорност към КЛИЕНТА или към някаква трета страна за каквито и да било преки, косвени, присъщи, причинно обусловени или причинени по друг начин щети (включително във всеки случай, но не само, щети в резултат на невъзможност да се използва приложението или при липса на достъп до данните, загуба на данни, несъвместимост с нормативните разпоредби на генерираните документи, загуба от търговска дейност, пропуснати печалби, прекъсване на търговска дейност или подобни), произтичащи от ползването или невъзможността за ползване на услугата, дори и ако СЪЗДАТЕЛЯ е бил уведомен за възможността за възникването на подобни щети.
            </p>
            <p>
                Чл. 10.  При възникване на обстоятелства или при настъпване на събитие, при които по вина на СЪЗДАТЕЛЯ и/или по силата на друг вид отговорност по закон, която дава право на обезщетение, КЛИЕНТЪТ може да бъде обезщетен за сумата на действително претърпените преки вреди, до размера на сумата, която е заплатена от него за правото на ползване на Услугата.
            </p>
        </div>
        <br />

        <div>
            <h5>АДРЕС ЗА КОРЕНСПОНДЕНЦИЯ</h5>
            <p>
                Чл. 11. Всички известия от КЛИЕНТА към СЪЗДАТЕЛЯ се считат за правилно адресирани, ако са изпратени на адресите на същия, или по електронна поща посочени по-долу:
            </p>
            <br />
            <div>
                <p>
                    <b>Адрес:</b> гр.София, ул. “-------” №  1, вх. 1, ет. 1, ап. 1;
                </p>
                <p>
                    <b>Тел. за контакт:</b>  0888 888 888;
                </p>
                <p>
                    <b>Електронна поща:</b> sazdatel@gmail.com
                </p>
            </div>
        </div>
        <br />

        <div>
            <h5>ДОПЪЛНИТЕЛНИ РАЗПОРЕДБИ</h5>
            <p>
                Чл. 12. По всички въпроси,  неуредени изрично в настоящите общи условия, се прилагат относимите разпоредби на действащото българско законодателство.
            </p>
            <p>
                Чл. 13. Всички спорове, породени от тези общи условия или отнасящи се до тях, включително споровете, породени или отнасящи се до неговото тълкуване, недействителност, неизпълнение или прекратяване, както и споровете за попълване на празноти в документа или приспособяването му към нововъзникнали обстоятелства, ще бъдат разрешавани от Арбитражния съд при Българската търговско-промишлена палата съобразно неговия Правилник за ускорени производства.
            </p>
        </div>
        <br />

        <div>
            <b>Посредством извършване на регистрация/създаване на АКАУНТ в Приложението ПОТРЕБИТЕЛЯ и СЪЗДАТЕЛЯ декларират, че са се запознали с верността на предоставените данни, условията и описаното в този документ и ги приемат.</b>
        </div>
        <br />
    </div>
</div>