@model BuildingManagementSystem.Web.ViewModels.Registrations.IndexViewModel

<div class="container mt-3">
    <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h2 class="text-center">Домова книга</h2>
        <h5 class="text-center">
            Уважаеми <b class="text-info">@(this.User.Identity.Name == null ? "Съкооператор" : this.User.Identity.Name)</b>.
            За регистрация в Приложението моля попълнете електронната Домова книга на Етажната собственост.
        </h5>
        <hr />

        <h3 class="text-center text-info">Стъпка 1 - Посочване на типа собственост</h3>
        <hr />
        <hr />

        <p class="mb-4">Тук трябва да посочите какъв собственик на имот се явявате. Двата възможни варианта са: <b>'Физическо лице'</b> или <b>'Юридическо лице'</b>. След това натиснете бутона <b>'ИЗБЕРИ'</b> за да преминете на следващата страница и да продължите с попълване на електронната Домова книга.</p>
        
        <h5 class="text-info mb-3 text-center"><b>Моля направете своят избор!</b></h5>

        @*<div class="form-check mb-3">
                <input asp-for="IsPerson" type="radio" name="radio" value="IsPerson">
                <label asp-for="IsPerson"><b>Собственик - ФИЗИЧЕСКО ЛИЦЕ</b></label>
                <span asp-validation-for="IsPerson"></span>
            </div>
            <div class="form-check mb-4">
                <input asp-for="IsCompany" type="radio" name="radio" value="IsPerson">
                <label asp-for="IsCompany"><b>Собственик - ЮРИДИЧЕСКО ЛИЦЕ</b></label>
                <span asp-validation-for="IsCompany"></span>
            </div>

            @{
                var action = string.Empty;
                if (Model.IsPerson == true)
                {
                    action = "RegisterPerson";
                }
                else
                {
                    action = "RegisterCompany";
                }
            }

            <input type="button" class="btn btn-primary text-uppercase" value="Продължи" onclick="window.location= '@Url.Action( "action", "Registrations")'" />
            <hr />*@
        <div class="border card border-success mb-4">
            <div class="form-text mb-3 text-center">
                <label><b>Собственик - ФИЗИЧЕСКО ЛИЦЕ</b></label>
                <br />
                <input type="button" class="btn btn-primary text-uppercase" value="Избери" onclick="window.location= '@Url.Action( "RegisterPerson", "Registrations")'" />
            </div>
        </div>

        <div class="border card border-success mb-4">
            <div class="form-text mb-3 text-center">
                <label><b>Собственик - ЮРИДИЧЕСКО ЛИЦЕ</b></label>
                <br />
                <input type="button" class="btn btn-primary text-uppercase" value="Избери" onclick="window.location= '@Url.Action( "RegisterCompany", "Registrations")'" />
            </div>
        </div>
    </div>
</div>

